<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roadcare.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
				<key>dateExpires</key>
				<string>5/9/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyPickerPopover.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01D78167FC16A142B1FB59F80A974C167CB884F2</string>
						<key>dateExpires</key>
						<string>5/9/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YNExpandableCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>527FY5PN5Z</string>
						<key>name</key>
						<string>Ahmad Kanaan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>527FY5PN5Z.com.akanaan.roadcare</string>
				<key>com.apple.developer.team-identifier</key>
				<string>527FY5PN5Z</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>527FY5PN5Z.com.akanaan.roadcare</string>
				</array>
			</dict>
			<key>name</key>
			<string>Roadcare.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>98d11bc9-9ec4-45ec-a623-45a3035881d0</string>
				<key>name</key>
				<string>RoadCare_Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>527FY5PN5Z</string>
				<key>name</key>
				<string>Ahmad Kanaan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
